body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    background: #1e293b;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

input {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 15px;
    background: #25d366;
    color: #0f172a;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}